<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Dream Portal Suite">

    <test name="UI Functional Tests">
        <classes>
            <class name="tests.HomeTest"/>
            <class name="tests.DiaryTest"/>
            <class name="tests.TotalTest"/>
        </classes>
    </test>

</suite>
